# Summer Olympics Data Analysis Assignment

### 1. In how many cities Summer Olympics is held so far?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("summer.csv")
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
num_of_cities = len(df["City"].unique())
print(f"The number of cities in which olympics are held so far is {num_of_cities}.")

The number of cities in which olympics are held so far is 22.

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [4]:
gold_df = df[df["Medal"] == "Gold"]
top_five = gold_df.groupby("Sport").count()["Medal"].sort_values(ascending=False).head()
print("Top 5 sports having most number of Gold Medals so far are:")
top_five

Top 5 sports having most number of Gold Medals so far are:

Sport
Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Medal, dtype: int64

### 3. Which sport is having most number of medals so far? (Top 5)

In [5]:
top_five_medal = df.groupby("Sport").count()["Medal"].sort_values(ascending=False).head()
print("Top 5 sports having most number of medals so far are: ")
top_five_medal

Top 5 sports having most number of medals so far are:

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64

### 4. Which player has won most number of medals? (Top 5)

In [6]:
top_players = df.groupby("Athlete").count()["Medal"].sort_values(ascending=False).head()
print("Top 5 players having most number of medals so far are: ")
top_players

Top 5 players having most number of medals so far are:

Athlete
PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
Name: Medal, dtype: int64

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [7]:
top_gold_players = gold_df.groupby("Athlete").count()["Medal"].sort_values(ascending=False).head()
print("Top 5 players having most number of Gold medals so far are: ")
top_gold_players

Top 5 players having most number of Gold medals so far are:

Athlete
PHELPS, Michael     18
LEWIS, Carl          9
NURMI, Paavo         9
SPITZ, Mark          9
LATYNINA, Larisa     9
Name: Medal, dtype: int64

### 6. In which year India won first Gold Medal in Summer Olympics?

In [8]:
year = df[(df["Country"] == "IND") & (df["Medal"] == "Gold")]["Year"].sort_values().head(1).values[0]
print(f"The year in which India won it's first gold medal in summer olympics is {year}.")

The year in which India won it's first gold medal in summer olympics is 1928.

### 7. Which event is most popular in terms on number of players? (Top 5)

In [9]:
top_events = df.groupby("Event").count()["Athlete"].sort_values(ascending=False).head()
print("Top 5 events which are most popular in terms of number of players are:")
top_events

Top 5 events which are most popular in terms of number of players are:

Event
Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Athlete, dtype: int64

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [10]:
female_df = gold_df[df["Gender"] == "Women"]
top_female_gold = female_df.groupby("Event").count()["Medal"].sort_values(ascending=False).head()
print("Top 5 sports having most female gold medalists are:")
top_female_gold

Top 5 sports having most female gold medalists are:

<ipython-input-10-efabf3c47122>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  female_df = gold_df[df["Gender"] == "Women"]

Event
Volleyball          156
Hockey              144
Handball            142
Team Competition    126
Basketball          120
Name: Medal, dtype: int64